<a href="https://colab.research.google.com/github/Kwasi-Dankwa/airbnb-eda/blob/main/AirBnB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# import libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels as sm

#Load data
df = pd.read_csv("/content/Airbnb_Open_Data.csv")
print(df.head())

        id                                              NAME      host id  \
0  1001254                Clean & quiet apt home by the park  80014485718
1  1002102                             Skylit Midtown Castle  52335172823
2  1002403               THE VILLAGE OF HARLEM....NEW YORK !  78829239556
3  1002755                                               NaN  85098326012
4  1003689  Entire Apt: Spacious Studio/Loft by central park  92037596077

  host_identity_verified host name neighbourhood group neighbourhood  \
0            unconfirmed  Madaline            Brooklyn    Kensington
1               verified     Jenna           Manhattan       Midtown
2                    NaN     Elise           Manhattan        Harlem
3            unconfirmed     Garry            Brooklyn  Clinton Hill
4               verified    Lyndon           Manhattan   East Harlem

        lat      long        country  ... service fee minimum nights  \
0  40.64749 -73.97237  United States  ...       $193            10.0
1  40.75362 -73.98377  United States  ...        $28            30.0
2  40.80902 -73.94190  United States  ...       $124             3.0
3  40.68514 -73.95976  United States  ...        $74            30.0
4  40.79851 -73.94399  United States  ...        $41            10.0

  number of reviews last review  reviews per month review rate number  \
0               9.0  10/19/2021               0.21                4.0
1              45.0   5/21/2022               0.38                4.0
2               0.0         NaN                NaN                5.0
3             270.0    7/5/2019               4.64                4.0
4               9.0  11/19/2018               0.10                3.0

  calculated host listings count  availability 365  \
0                            6.0             286.0
1                            2.0             228.0
2                            1.0             352.0
3                            1.0             322.0
4                            1.0             289.0

                                         house_rules license
0  Clean up and treat the home the way you'd like...     NaN
1  Pet friendly but please confirm with me if the...     NaN
2  I encourage you to use my kitchen, cooking and...     NaN
3                                                NaN     NaN
4  Please no smoking in the house, porch or on th...     NaN

[5 rows x 26 columns]

<ipython-input-4-741ab79e6373>:8: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/content/Airbnb_Open_Data.csv")

In [6]:
# checking the dimensions of the airbnb dataset

print(df.shape)
print(df.columns)

(102599, 26)
26
Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

Apart from id, host id and room type most colums have missing values which must be sorted out

In [7]:
# check for missing values in the columns
print(df.isnull().sum())

id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64

I removed country code column because every property was based in USA

In [20]:
# Dropping records with missing 'name' or 'host name'
df.dropna(subset=['NAME', 'host name'], inplace=True)

# Convert 'last review' to datetime and handle errors
df['last review'] = pd.to_datetime(df['last review'], errors='coerce')

# Fill missing values
df.fillna({'reviews per month': 0, 'last review': df['last review'].min()}, inplace=True)

# finding new dimensions now
print(df.shape)

(102193, 25)

In [22]:
# Remove dollar signs and convert to float
df['price'] = df['price'].replace('[\$,]', '', regex=True).astype(float)
df['service fee'] = df['service fee'].replace('[\$,]', '', regex=True).astype(float)

# remove duplicates in the data
df.drop_duplicates(inplace=True)

# this confirms country code has been removed and other columns Dtypes have been coverted
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 101654 entries, 0 to 102057
Data columns (total 25 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              101654 non-null  int64
 1   NAME                            101654 non-null  object
 2   host id                         101654 non-null  int64
 3   host_identity_verified          101366 non-null  object
 4   host name                       101654 non-null  object
 5   neighbourhood group             101626 non-null  object
 6   neighbourhood                   101638 non-null  object
 7   lat                             101646 non-null  float64
 8   long                            101646 non-null  float64
 9   country                         101123 non-null  object
 10  instant_bookable                101552 non-null  object
 11  cancellation_policy             101579 non-null  object
 12  room type                       101654 non-null  object
 13  Construction year               101445 non-null  float64
 14  price                           101412 non-null  float64
 15  service fee                     101386 non-null  float64
 16  minimum nights                  101256 non-null  float64
 17  number of reviews               101471 non-null  float64
 18  last review                     101654 non-null  datetime64[ns]
 19  reviews per month               101654 non-null  float64
 20  review rate number              101342 non-null  float64
 21  calculated host listings count  101335 non-null  float64
 22  availability 365                101219 non-null  float64
 23  house_rules                     49970 non-null   object
 24  license                         2 non-null       object
dtypes: datetime64[ns](1), float64(11), int64(2), object(11)
memory usage: 20.2+ MB
None